# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next
/.next/
/out/

# env
.env
.env*.local

# prisma
/prisma/dev.db
/prisma/dev.db-journal

# uploads
/public/uploads/

# editor / local
.cursor/

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
